body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  flex-wrap: wrap;
}

.form-section {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

textarea {
  height: 80px;
}

.image-selector {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.thumb {
  width: 70px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
}

.thumb:hover {
  border-color: white;
}

.hoodie {
  position: relative;
  width: 400px;
}

#hoodieBase {
  width: 100%;
}

#designOverlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

#designText {
  font-weight: bold;
  word-wrap: break-word;
}

#designPng {
  max-width: 100%;
  display: none;
}
